<div class="form-group mt-3">
  <label [for]="id" class="form-label" [ngClass]="{ required: required }" *ngIf="label">{{ label }}</label>
  <div
    class="drag-area"
    (dragover)="dragOver($event)"
    (dragleave)="dragLeave($event)"
    (drop)="drop($event)"
    [ngClass]="{ active: dragActive }"
  >
    <div class="d-flex justify-content-center" *ngIf="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <ng-container *ngIf="selectedFile && !control?.value && !loading">
      <img [src]="fileUrl" *ngIf="selectedFile" />
      <button class="btn btn-danger" type="button" (click)="deleteFile()">Löschen</button>
    </ng-container>

    <ng-container *ngIf="control?.value && !loading">
      <img [src]="url + path + control?.value" />
      <button class="btn btn-danger" type="button" (click)="deleteFile(control?.value)">Löschen</button>
    </ng-container>

    <ng-container *ngIf="!selectedFile && !control?.value && !loading">
      <div class="icon">
        <i class="bi bi-images"></i>
      </div>

      <span class="header">{{ dragText }}</span>
      <span class="header"
        >{{ preButtonText }} <span class="button" (click)="fileInput.click()">{{ buttonText }}</span></span
      >
      <input type="file" (change)="selectFile($event)" [attr.accept]="validExtensions?.join(',')" hidden #fileInput />
      <span class="support" [innerText]="supportText"></span>
    </ng-container>
  </div>

  <div class="invalid-feedback m-2" *ngIf="control?.invalid && (control?.dirty || control?.touched)">
    <div *ngIf="control?.errors?.['required']">Dieses Feld ist ein Pflichtfeld.</div>
    <div *ngIf="control?.errors?.['minlength']">
      Die Mindestlänge für dieses Feld beträgt
      {{control?.errors?.['minlength']?.requiredLength}} Zeichen.
    </div>
    <div *ngIf="control?.errors?.['maxlength']">
      Die maximale Länge für dieses Feld beträgt
      {{control?.errors?.['maxlength']?.requiredLength}} Zeichen.
    </div>
    <div *ngIf="control?.errors?.['email']">Bitte eine gültige E-Mail Adresse angeben.</div>
  </div>
</div>
