<div class="form-group mt-3" [ngClass]="{ 'is-invalid': control?.invalid && control?.touched }">
  <label [for]="id" class="form-label" [ngClass]="{ required: required }" *ngIf="label">{{ label }}</label>
  <div
    [id]="objectPath ? objectPath + '.' + id : id"
    class="drag-area"
    (dragover)="dragOver($event)"
    (dragleave)="dragLeave($event)"
    (drop)="drop($event)"
    [ngClass]="{ active: dragActive, pointer: !loading, 'is-invalid': control?.invalid && control?.touched }"
    (click)="!loading && fileInput.click()"
  >
    <div class="d-flex justify-content-center" *ngIf="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <ng-container *ngIf="selectedFile && !loading">
      <img [src]="fileUrl" *ngIf="selectedFile" />
      <button class="btn btn-danger" type="button" (click)="deleteFile()" baseStopPropagation>Löschen</button>
    </ng-container>

    <ng-container *ngIf="control?.value && !selectedFile && !loading">
      <img [src]="control?.value.startsWith('data:') ? control?.value : url + path + control?.value" />
      <button class="btn btn-danger" type="button" (click)="deleteFile(control?.value)" baseStopPropagation>
        Löschen
      </button>
    </ng-container>

    <ng-container *ngIf="!selectedFile && !control?.value && !loading">
      <div class="icon">
        <i class="bi bi-images"></i>
      </div>

      <span class="header">{{ dragText }}</span>
      <span class="header"
        >{{ preButtonText }}
        <span class="button" (click)="fileInput.click()" baseStopPropagation>{{ buttonText }}</span></span
      >
      <span class="support" [innerText]="supportText"></span>
    </ng-container>

    <input type="file" (change)="selectFile($event)" [attr.accept]="validExtensions?.join(',')" hidden #fileInput />
  </div>

  <div class="invalid-feedback m-2" *ngIf="control?.invalid && (control?.dirty || control?.touched)">
    <div *ngIf="control?.errors?.['required']">Dieses Feld ist ein Pflichtfeld.</div>
  </div>
</div>
