:host {
  --base-upload-image-area-bg: #ffffff;
  --base-upload-image-area-border-color: #e1e1e1;
  --base-upload-image-area-height: 400px;
}

.required:after {
  content: ' *';
}

.drag-area {
  height: var(--base-upload-image-area-height);
  border: 2px dashed var(--base-upload-image-area-border-color);
  background-color: var(--base-upload-image-area-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 20px;

  img {
    height: 100%;
    max-height: 300px;
    max-width: 100%;
    object-fit: scale-down;
  }

  .btn-danger {
    margin-top: auto;
  }

  .icon {
    font-size: 50px;
    color: var(--bs-primary);
  }

  .header {
    font-size: 20px;
    font-weight: 500;
  }

  .support {
    font-size: 12px;
    color: #e1e1e1;
    margin: 10px 0 15px 0;
  }

  .button {
    font-size: 20px;
    font-weight: 500;
    color: var(--bs-primary);
    cursor: pointer;
  }
}

.active {
  border: 2px solid var(--bs-primary);
}
