<div class="d-flex justify-content-center align-items-center h-100 py-5">
  <div class="d-flex flex-column set-password-container">
    <div class="container">
      <form [formGroup]="form">
        <div class="alert alert-danger" role="alert" *ngIf="error">
          {{ error }}
        </div>
        <base-input
          [id]="'password'"
          [label]="'Passwort'"
          [required]="true"
          [type]="'password'"
          [control]="form.get('password')"
          [tabIndex]="1"
          [eyeButton]="true"
        ></base-input>
        <base-input
          [id]="'password-confirm'"
          [label]="'Passwort bestätigen'"
          [required]="true"
          [type]="'password'"
          [control]="form.get('passwordConfirm')"
          [tabIndex]="2"
          [eyeButton]="true"
        ></base-input>

        <div class="d-grid gap-2 text-center">
          <button class="btn btn-primary" (click)="submit()" *ngIf="!loading">Passwort setzen</button>
          <button class="btn btn-primary" type="button" disabled *ngIf="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
