.cursor-pointer {
  cursor: pointer;
}

.asc::after,
.desc::after {
  border-style: solid;
  border-width: 0.2em 0.2em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 5px;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: middle;
  width: 0.45em;
}

.asc::after {
  transform: rotate(135deg);
}

td {
  vertical-align: middle;
}

.bi,
th {
  cursor: pointer;
  user-select: none;
}

.table > :not(:first-child) {
  border-top: 0;
}

table {
  border-radius: 0.25rem;
  border-color: #e2e8f0 !important;

  thead {
    text-transform: uppercase;
    font-size: 12px;

    th {
      padding: 12px 24px;
    }
  }

  tbody tr td {
    font-weight: normal !important;
    font-size: 16px;
    padding: 16px 24px;
  }
}

.context-menu {
  opacity: 0.01%;
  pointer-events: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  z-index: 999;

  &-item {
    cursor: pointer;
    padding: 8px 15px;

    &:hover {
      color: var(--bs-primary);
    }
  }
}

.table-card {
  background: var(--bs-white);
  padding: 10px;
  margin-bottom: 10px;
  &-entry {
    margin-top: 4px;

    &-first {
      font-size: 18px;
      font-weight: 800;
      color: var(--bs-primary);
    }
  }
}

.responsive-action-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.bi-three-dots-vertical {
  font-size: 18px;
  line-height: 18px;
}

.page-item {
  cursor: pointer;
}
