<div *ngIf="!selectedId && !createMode">
  <div class="w-100 d-flex flex-row justify-content-between align-items-center mb-2 mb-lg-4">
    <h2 class="mb-0" *ngIf="modelName">
      {{
        config?.plural ? config?.plural : config?.label ? config?.label : capitalizeFirstLetter(camelModelName) + 's'
      }}
    </h2>
    <div class="d-flex align-items-center d-none d-lg-block">
      <button class="btn btn-primary" (click)="createNewObject()" *ngIf="create">Erstellen</button>
    </div>
  </div>

  <div
    class="table-responsive"
    [ltContextMenu]="contextMenu"
    [selectors]="'.object-col'"
    #contextMenuData="contextMenuData"
  >
    <table class="table table-hover bg-white d-none d-lg-table">
      <thead>
        <tr>
          <th
            scope="col"
            *ngFor="let field of availableFields"
            [baseSort]="objects"
            data-order="desc"
            [attr.data-name]="field"
          >
            {{ tableFields[field]?.label ? tableFields[field]?.label : capitalizeFirstLetter(field) }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="object-col" *ngFor="let object of objects" [id]="object[uniqueField]">
          <td class="cursor-pointer" *ngFor="let field of availableFields" (click)="selectId(object)">
            <ng-container *ngIf="tableFields[field]?.dateFormat">
              {{ object[field] | date: tableFields[field]?.dateFormat }} Uhr
            </ng-container>

            <ng-container *ngIf="tableFields[field]?.enumValues">
              {{ tableFields[field]?.enumValues[object[field]]?.text }}
            </ng-container>

            <ng-container *ngIf="!tableFields[field]?.dateFormat && !tableFields[field]?.enumValues">
              {{ object[field] | baseEllipses: 60 }}
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex d-lg-none flex-column flex-grow-1">
      <div class="table-card" *ngFor="let object of objects" [id]="object[uniqueField]">
        <div class="table-card-entry" *ngFor="let field of availableFields; let i = index" (click)="selectId(object)">
          <b *ngIf="i > 0"
            >{{ tableFields[field]?.label ? tableFields[field]?.label : capitalizeFirstLetter(field) }}:</b
          >
          <p [ngClass]="{ 'table-card-entry-first': i === 0 }">
            <ng-container *ngIf="tableFields[field]?.dateFormat">
              {{ object[field] | date: tableFields[field]?.dateFormat }} Uhr
            </ng-container>

            <ng-container *ngIf="tableFields[field]?.enumValues">
              {{ tableFields[field]?.enumValues[object[field]]?.text }}
            </ng-container>

            <ng-container *ngIf="!tableFields[field]?.dateFormat && !tableFields[field]?.enumValues">
              {{ object[field] | baseEllipses: 60 }}
            </ng-container>
          </p>
        </div>
      </div>
    </div>

    <div class="context-menu" #contextMenu>
      <div class="context-menu-item" (click)="selectId({ id: contextMenuData.clickedElement?.id })">Bearbeiten</div>
      <div class="context-menu-item" *ngIf="duplicate" (click)="duplicateObject(contextMenuData.clickedElement?.id)">
        Duplizieren
      </div>
      <div class="context-menu-item" *ngIf="delete" (click)="deleteObject(contextMenuData.clickedElement?.id)">
        Löschen
      </div>
    </div>
  </div>
</div>

<div class="w-100" *ngIf="selectedId || createMode">
  <button class="d-none d-lg-block btn btn-outline-primary mb-3" (click)="selectId('')">Zurück</button>
  <base-model-form
    [modelName]="camelModelName"
    [label]="config?.label"
    [config]="fieldConfig"
    [logging]="logging"
    [id]="selectedId"
    (finished)="selectId('')"
    [delete]="delete"
    [duplicate]="duplicate"
  ></base-model-form>
</div>

<button
  class="d-flex d-lg-none responsive-action-button"
  (click)="createNewObject()"
  *ngIf="!(selectedId || createMode)"
>
  <i class="bi bi-plus-lg"></i>
</button>
