<div *ngIf="!selectedId && !createMode">
  <div class="w-100 d-flex flex-row justify-content-between mb-4">
    <h2 *ngIf="modelName">
      {{ config?.plural ? config?.plural : config?.label ? config?.label : capitalizeFirstLetter(modelName) + 's' }}
    </h2>
    <div class="d-flex align-items-center">
      <button class="btn btn-primary" (click)="createNewObject()" *ngIf="create">Erstellen</button>
    </div>
  </div>
  <table class="table table-hover table-responsive bg-white">
    <thead>
      <tr>
        <th scope="col" *ngFor="let field of availableFields">
          {{ tableFields[field]?.label ? tableFields[field]?.label : capitalizeFirstLetter(field) }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let object of objects">
        <td class="cursor-pointer" *ngFor="let field of availableFields" (click)="selectId(object)">
          <ng-container *ngIf="tableFields[field]?.dateFormat">
            {{ object[field] | date: tableFields[field]?.dateFormat }} Uhr
          </ng-container>

          <ng-container *ngIf="!tableFields[field]?.dateFormat">
            {{ object[field] }}
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="w-100" *ngIf="selectedId || createMode">
  <button class="btn btn-outline-primary mb-3" (click)="selectId('')">Zurück</button>
  <base-model-form
    [modelName]="modelName"
    [label]="config?.label"
    [config]="fieldConfig"
    [logging]="logging"
    [id]="selectedId"
    (finished)="selectId('')"
    [delete]="delete"
  ></base-model-form>
</div>
