<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    [formControl]="control"
    [required]="required"
    [value]="value"
    [id]="objectPath ? objectPath + '.' + id : id"
    [name]="name"
    [ngClass]="{ 'is-invalid': control?.invalid && control?.touched }"
    />
  <label [for]="id" class="form-label" [ngClass]="{ required: required }">
    @if (label) {
      {{ label }}
    }
    <ng-content></ng-content>
  </label>

  @if (control?.invalid && (control?.dirty || control?.touched)) {
    <div class="invalid-feedback ms-0 m-2">
      @if (control?.errors?.['required']) {
        <div>Dieses Feld ist ein Pflichtfeld.</div>
      }
    </div>
  }
</div>
