.toast {
  border-radius: 0;
  border: 0;

  a {
    text-decoration: none;
    font-weight: 600;
  }

  .toast-header {
    border-radius: 0;
  }
}

.error {
  .toast-header {
    background-color: var(--bs-danger);
    color: var(--bs-white);
  }
}

.warning {
  .toast-header {
    background-color: var(--bs-warning);
    color: var(--bs-white);
  }
}

.info {
  .toast-header {
    background-color: var(--bs-info);
    color: var(--bs-white);
  }
}

.success {
  .toast-header {
    background-color: var(--bs-success);
    color: var(--bs-white);
  }
}
