<div
  class="toast-container position-fixed"
  [ngClass]="position"
  [@toastAnimation]="{ value: toasts.length, params: { x: position.includes('left') ? '-100%' : '100%' } }"
  >
  @for (toast of toasts; track toast) {
    <div
      class="toast show"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      [ngClass]="toast.type"
      >
      <div class="toast-header">
        <strong class="me-auto">{{ toast?.title ?? getDefaultTitle(toast) }}</strong>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ toast?.description ?? getDefaultDescription(toast) }}
        @if (toast?.errorCode) {
          <div class="mt-2">
            <code>ERROR: {{ toast.errorCode }}</code>
          </div>
        }
        @if (toast.type === ToastType.ERROR) {
          <div class="mt-2">
            <a class="color-secondary" href="#" (click)="reload()">Seite neu laden</a>
          </div>
        }
      </div>
    </div>
  }
</div>
