@if (type) {
  @switch (type) {
    @case ('LINE') {
      <div>
        <div class="line-loader-wrapper">
          @for (key of convertToArray(count); track key) {
            <div class="line-loader"></div>
          }
        </div>
      </div>
    }
    @case ('RECTANGLE') {
      <div>
        <div class="line-rectangle" [ngStyle]="{ height: size + 'px' }"></div>
      </div>
    }
    @case ('AVATAR') {
      <div>
        <div class="line-avatar" [ngStyle]="{ height: size + 'px', width: size + 'px' }"></div>
      </div>
    }
  }
}
