<div class="form-group mb-3">
  <div class="d-flex justify-content-between align-items-center">
    @if (label) {
      <label [for]="id" class="form-label" [ngClass]="{ required: required }">{{ label }}</label>
    }
    @if (infoText) {
      <i class="bi bi-info-circle" [ngbTooltip]="infoText" placement="start"></i>
    }
  </div>
  <div class="input-group">
    <input
      [id]="objectPath ? objectPath + '.' + id : id"
      [name]="name"
      class="form-control"
      [type]="type"
      [formControl]="control"
      [required]="required"
      [placeholder]="placeholder"
      [autocomplete]="autocomplete ?? null"
      [tabIndex]="tabIndex ?? null"
      [ngClass]="{ 'is-invalid': control?.invalid && control?.touched }"
      (keyup.enter)="enterEvent()"
      [attr.aria-describedby]="id + 'eye-button'"
      [attr.data-cy]="name"
      />
    @if (eyeButton) {
      <button
        class="btn btn-outline-primary"
        type="button"
        [id]="id + 'eye-button'"
        (click)="togglePasswordType()"
        >
        @if (type === 'password') {
          <i class="bi bi-eye"></i>
        }
        @if (type === 'text') {
          <i class="bi bi-eye-slash"></i>
        }
      </button>
    }

    @if (control?.invalid && (control?.dirty || control?.touched)) {
      <div class="invalid-feedback m-2">
        @if (control?.errors?.['required']) {
          <div>Dieses Feld ist ein Pflichtfeld.</div>
        }
        @if (control?.errors?.['minlength']) {
          <div>
            Die Mindestlänge für dieses Feld beträgt
            {{control.errors?.['minlength']?.requiredLength}} Zeichen.
          </div>
        }
        @if (control?.errors?.['maxlength']) {
          <div>
            Die maximale Länge für dieses Feld beträgt
            {{control.errors?.['maxlength']?.requiredLength}} Zeichen.
          </div>
        }
        @if (control?.errors?.['email']) {
          <div>Bitte eine gültige E-Mail Adresse angeben.</div>
        }
        @if (control?.errors?.['pattern'] && type === 'tel') {
          <div>Bitte eine gültige Telefonnummer angeben.</div>
        }
        @if (control?.errors?.['invalidEmail']) {
          <div>Bitte eine gültige E-Mail Adresse angeben.</div>
        }
        @if (control?.errors?.['matching']) {
          <div>Die Passwörter müssen überein stimmen.</div>
        }
        @if (control?.errors?.['invalidSecurePassword']) {
          <div>
            Das Passwort ist zu unsicher. Es muss mind. 8 Zeichen lang sein, ein Großbustabe, ein Kleinbuchstabe, eine Zahl
            und ein Sonderzeichen enthalten.
          </div>
        }
      </div>
    }
  </div>
</div>
