<div class="form-group mb-3">
  <div class="d-flex justify-content-between align-items-center">
    @if (label) {
      <label [for]="id" class="form-label" [ngClass]="{ required: required }">{{ label }}</label>
    }
    @if (infoText) {
      <i class="bi bi-info-circle" [ngbTooltip]="infoText" placement="start"></i>
    }
  </div>
  <select
    #select
    [id]="objectPath ? objectPath + '.' + id : id"
    [name]="name"
    class="form-select"
    [attr.aria-label]="placeholder"
    [attr.data-live-search]="search"
    [formControl]="control"
    [required]="required"
    [tabIndex]="tabIndex ?? null"
    [ngClass]="{ 'is-invalid': control?.invalid && control?.touched }"
    >
    <option [ngValue]="null" disabled selected>{{ placeholder }}</option>
    @for (option of options; track option) {
      <option [ngValue]="option.value">
        {{ option.text }}
      </option>
    }
  </select>

  @if (control?.invalid && (control?.dirty || control?.touched)) {
    <div class="invalid-feedback m-2">
      @if (control?.errors?.['required']) {
        <div>Dieses Feld ist ein Pflichtfeld.</div>
      }
      @if (control?.errors?.['minlength']) {
        <div>
          Die Mindestlänge für dieses Feld beträgt
          {{control?.errors?.['minlength']?.requiredLength}} Zeichen.
        </div>
      }
      @if (control?.errors?.['maxlength']) {
        <div>
          Die maximale Länge für dieses Feld beträgt
          {{control?.errors?.['maxlength']?.requiredLength}} Zeichen.
        </div>
      }
      @if (control?.errors?.['email']) {
        <div>Bitte eine gültige E-Mail Adresse angeben.</div>
      }
    </div>
  }
</div>
