@if (!isList) {
  <div class="form-group mb-3">
    <div class="d-flex justify-content-between align-items-center">
      @if (label) {
        <label [for]="id" class="form-label" [ngClass]="{ required: required }">{{ label }}</label>
      }
      @if (infoText) {
        <i class="bi bi-info-circle" [ngbTooltip]="infoText" placement="start"></i>
      }
    </div>
    @if (search) {
      <div class="position-relative">
        <div class="d-flex flex-row">
          <input [formControl]="control" hidden />
          <input
            [id]="objectPath ? objectPath + '.' + id : id"
            [name]="name"
            class="form-control"
            [(ngModel)]="currentValue"
            [ngClass]="{ 'is-invalid': control?.invalid && control?.touched }"
            (focus)="onFocus($event)"
            (blur)="onFocus()"
            [required]="required"
            [placeholder]="placeholder"
            [autocomplete]="autocomplete ?? null"
            [tabIndex]="tabIndex ?? null"
            (keyup)="enterKey($event)"
            />
          @if (creationLink) {
            <button class="btn btn-primary" (click)="openLink()">Erstellen</button>
          }
        </div>
        @if (objects && selectedElement) {
          <div class="options">
            @for (object of filterOptions(); track object) {
              <div class="option-item" (click)="set(object[valueField])">
                {{ prepareNameField(object) }}
              </div>
            }
          </div>
        }
      </div>
    }
    @if (!search) {
      <div>
        <div class="d-flex flex-row">
          <select
            [id]="objectPath ? objectPath + '.' + id : id"
            [name]="name"
            class="form-select"
            [attr.aria-label]="placeholder"
            [formControl]="control"
            [required]="required"
            [tabIndex]="tabIndex ?? null"
            [ngClass]="{ 'is-invalid': control?.invalid && control?.touched }"
            >
            <option [ngValue]="null" selected>{{ placeholder }}</option>
            @for (object of objects; track object) {
              <option [ngValue]="object[valueField]">
                {{ prepareNameField(object) }}
              </option>
            }
          </select>
          @if (creationLink) {
            <button class="btn btn-primary" (click)="openLink()">Erstellen</button>
          }
        </div>
      </div>
    }
    @if (control?.invalid && (control?.dirty || control?.touched) && !selectedElement) {
      <div
        class="d-block invalid-feedback m-2"
        >
        @if (control?.errors?.['required']) {
          <div>Dieses Feld ist ein Pflichtfeld.</div>
        }
        @if (control?.errors?.['invalidReference'] && currentValue) {
          <div>
            {{ currentValue }} ist kein gültiger Wert für {{ label }}.
          </div>
        }
        @if (control?.errors?.['minlength']) {
          <div>
            Die Mindestlänge für dieses Feld beträgt
            {{control.errors?.['minlength']?.requiredLength}} Zeichen.
          </div>
        }
        @if (control?.errors?.['maxlength']) {
          <div>
            Die maximale Länge für dieses Feld beträgt
            {{control.errors?.['maxlength']?.requiredLength}} Zeichen.
          </div>
        }
        @if (control?.errors?.['email']) {
          <div>Bitte eine gültige E-Mail Adresse angeben.</div>
        }
        @if (control?.errors?.['matching']) {
          <div>Die Passwörter müssen überein stimmen.</div>
        }
      </div>
    }
  </div>
}

@if (isList) {
  <base-tags
    [id]="id"
    [label]="label"
    [name]="name"
    [control]="control"
    [required]="required"
    [placeholder]="placeholder"
    [custom]="false"
    [options]="optionsForTagInput"
  ></base-tags>
}
