@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/mixins';
@import '../../../../../node_modules/bootstrap/scss/variables';

.forgot-container {
  width: 100%;
  padding: 20px 0;

  @include media-breakpoint-up(md) {
    max-width: 400px;
  }
}
