<div class="d-flex justify-content-center align-items-center h-100 py-5">
  <div class="d-flex flex-column forgot-container">
    <div class="container">
      <form [formGroup]="form">
        <div class="alert alert-danger" role="alert" *ngIf="error">
          {{ error }}
        </div>
        <base-input
          [id]="'email'"
          [name]="'email'"
          [label]="'E-Mail Adresse'"
          [type]="'email'"
          [autocomplete]="'email'"
          [control]="form.get('email')"
        ></base-input>
        <div class="d-grid gap-2 text-center">
          <button class="btn btn-primary" (click)="submit()" *ngIf="!loading">E-Mail senden</button>
          <button class="btn btn-primary" type="button" disabled *ngIf="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
          <hr />
          <a routerLink="../login" *ngIf="forgotPasswordConfig?.showLogin"
            >Bereits ein Konto? Dann logge Dich hier ein!</a
          >
          <a routerLink="../registrieren" *ngIf="forgotPasswordConfig?.showRegister"
            >Noch kein Konto? Dann registriere Dich jetzt!</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
