<h3>Passwort ändern</h3>

<form [formGroup]="form">
  <base-input
    [id]="'password'"
    [label]="'Passwort'"
    [required]="true"
    [type]="'password'"
    [control]="form.get('password')"
    [tabIndex]="1"
    [eyeButton]="true"
  ></base-input>
  <base-input
    [id]="'password-confirm'"
    [label]="'Passwort bestätigen'"
    [required]="true"
    [type]="'password'"
    [control]="form.get('passwordConfirm')"
    [tabIndex]="2"
    [eyeButton]="true"
  ></base-input>

  <div class="d-flex justify-content-end">
    <div>
      <button class="btn btn-primary" (click)="submit()" *ngIf="!loading">Passwort ändern</button>
      <button class="btn btn-primary" type="button" disabled *ngIf="loading">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </div>
  </div>
</form>
