<h3>Passwort ändern</h3>

<form [formGroup]="form">
  <base-input
    [id]="'Aktuelles Passwort'"
    [label]="'Passwort'"
    [required]="true"
    [type]="'password'"
    [control]="form.get('current')"
    [tabIndex]="1"
    [eyeButton]="true"
  ></base-input>
  <base-input
    [id]="'password'"
    [label]="'Neues Passwort'"
    [required]="true"
    [type]="'password'"
    [control]="form.get('password')"
    [tabIndex]="2"
    [eyeButton]="true"
  ></base-input>
  <base-input
    [id]="'password-confirm'"
    [label]="'Neues Passwort bestätigen'"
    [required]="true"
    [type]="'password'"
    [control]="form.get('passwordConfirm')"
    [tabIndex]="3"
    [eyeButton]="true"
  ></base-input>

  <div class="d-flex justify-content-end">
    <div>
      @if (!loading) {
        <button class="btn btn-primary" (click)="submit()">Passwort ändern</button>
      }
      @if (loading) {
        <button class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        </button>
      }
    </div>
  </div>
</form>
