.required:after {
  content: ' *';
}

.tag-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  transition: all 0.5s;
  z-index: 999;

  .tag-option-item {
    padding: 10px;
    cursor: pointer;

    &:hover {
      color: var(--bs-primary);
    }
  }
}

.tag-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  position: relative;

  .tag {
    background-color: var(--bs-light);
    color: var(--bs-dark);
    padding: 10px 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;

    span {
      margin-left: 20px;
      cursor: pointer;

      .bi {
        color: var(--bs-black);

        &:before {
          vertical-align: -0.175em;
        }
      }
    }
  }
}
