<div class="form-group position-relative" *ngIf="control">
  <label [for]="id" class="form-label" [ngClass]="{ required: required }" *ngIf="label">{{ label }}</label>

  <div class="tag-wrapper" *ngIf="control?.value">
    <div class="tag" *ngFor="let tag of control?.value">
      {{ getReadableTag(tag) }}
      <span (click)="removeTag(tag)"><i class="bi bi-x-circle"></i></span>
    </div>
  </div>
  <input [formControl]="control" hidden />
  <input
    [id]="id"
    [name]="name"
    [placeholder]="placeholder"
    [ngClass]="{ 'is-invalid': control?.invalid && control?.touched }"
    [(ngModel)]="inputValue"
    [autocomplete]="autocomplete ?? null"
    [tabIndex]="tabIndex ?? null"
    (focus)="onFocus($event)"
    (blur)="onFocus()"
    type="text"
    class="form-control"
    (keyup)="enterKey($event)"
  />

  <div class="tag-options" *ngIf="options && selectedElement">
    <div class="tag-option-item" *ngFor="let option of filterOptions()" (click)="addTag(option?.text, true, true)">
      {{ option?.text }}
    </div>
  </div>

  <div class="invalid-feedback m-2" *ngIf="control?.invalid && (control?.dirty || control?.touched)">
    <div *ngIf="control?.errors?.['required']">Dieses Feld ist ein Pflichtfeld.</div>
    <div *ngIf="control?.errors?.['invalidReference'] && inputValue">
      {{ inputValue }} ist kein gültiger Wert für {{ label }}.
    </div>
  </div>
</div>
