@if (control) {
  <div class="form-group position-relative">
    <div class="d-flex justify-content-between align-items-center">
      @if (label) {
        <label [for]="id" class="form-label" [ngClass]="{ required: required }">{{ label }}</label>
      }
      @if (infoText) {
        <i class="bi bi-info-circle" [ngbTooltip]="infoText" placement="start"></i>
      }
    </div>
    @if (control?.value) {
      <div class="tag-wrapper">
        @for (tag of control?.value; track tag) {
          <div class="tag">
            {{ getReadableTag(tag) }}
            <span (click)="removeTag(tag)" data-cy="input-tags-item-remove"><i class="bi bi-x-circle"></i></span>
          </div>
        }
      </div>
    }
    <input [formControl]="control" hidden />
    <input
      [id]="objectPath ? objectPath + '.' + id : id"
      [name]="name"
      [placeholder]="placeholder"
      [ngClass]="{ 'is-invalid': control?.invalid && control?.touched }"
      [(ngModel)]="inputValue"
      [autocomplete]="autocomplete ?? null"
      [tabIndex]="tabIndex ?? null"
      (focus)="onFocus($event)"
      (blur)="onFocus()"
      type="text"
      class="form-control"
      (keyup)="enterKey($event)"
      [attr.data-cy]="'input-tags-field'"
      />
    @if (options && selectedElement) {
      <div class="tag-options">
        @for (option of filterOptions(); track option) {
          <div class="tag-option-item" (click)="addTag(option?.text, true, true)">
            {{ option?.text }}
          </div>
        }
      </div>
    }
    @if (control?.invalid && (control?.dirty || control?.touched)) {
      <div class="invalid-feedback m-2">
        @if (control?.errors?.['required']) {
          <div>Dieses Feld ist ein Pflichtfeld.</div>
        }
        @if (control?.errors?.['invalidReference'] && inputValue) {
          <div>
            {{ inputValue }} ist kein gültiger Wert für {{ label }}.
          </div>
        }
        @if (control?.errors?.['email']) {
          <div>Bitte gib eine gültige E-Mail Adresse ein.</div>
        }
      </div>
    }
  </div>
}
