<div class="d-flex justify-content-center align-items-center h-100 py-5">
  <div class="d-flex flex-column login-container">
    <div class="container">
      @if (loginConfig?.logoUrl) {
        <img class="img-fluid mb-5" [src]="loginConfig.logoUrl" alt="Logo" />
      }

      <form [formGroup]="form">
        @if (error) {
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        }
        <base-input
          [id]="'email'"
          [name]="'email'"
          [label]="'E-Mail Adresse'"
          [type]="'email'"
          [control]="form.get('email')"
          [autocomplete]="'email'"
        ></base-input>
        <base-input
          [id]="'password'"
          [name]="'password'"
          [label]="'Passwort'"
          [type]="'password'"
          [eyeButton]="true"
          [autocomplete]="'current-password'"
          [control]="form.get('password')"
        ></base-input>
        <div class="d-grid gap-2 text-center">
          @if (!loading) {
            <button class="btn btn-primary" (click)="submit()" data-cy="login-submit">Einloggen</button>
          }
          @if (loading) {
            <button class="btn btn-primary" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>
          }
          <hr />
          @if (loginConfig?.showPasswordForget) {
            <a routerLink="../passwort-vergessen">Passwort vergessen</a>
          }
          @if (loginConfig?.showRegister) {
            <a routerLink="../registrieren" [queryParams]="{redirectUrl}"
              >Noch kein Konto? Dann registriere Dich jetzt!</a
              >
          }
        </div>
      </form>
    </div>
  </div>
</div>
