<div class="d-flex justify-content-center align-items-center h-100 py-5">
  <div class="d-flex flex-column register-container">
    <div class="container">
      <form [formGroup]="form">
        <div id="register-error" class="alert alert-danger" role="alert" *ngIf="error">
          {{ error }}
        </div>
        <base-input
          [id]="'firstName'"
          [name]="'firstName'"
          [label]="'Vorname'"
          [type]="'text'"
          [control]="form.get('firstName')"
          [autocomplete]="'given-name'"
        ></base-input>
        <base-input
          [id]="'lastName'"
          [name]="'lastName'"
          [label]="'Nachname'"
          [type]="'text'"
          [control]="form.get('lastName')"
          [autocomplete]="'family-name'"
        ></base-input>
        <base-input
          [id]="'email'"
          [name]="'email'"
          [label]="'E-Mail Adresse'"
          [type]="'email'"
          [control]="form.get('email')"
          [autocomplete]="'email'"
        ></base-input>
        <base-input
          [id]="'password'"
          [name]="'password'"
          [label]="'Passwort'"
          [type]="'password'"
          [autocomplete]="'new-password'"
          [control]="form.get('password')"
        ></base-input>
        <base-input
          [id]="'password-confirm'"
          [name]="'password-confirm'"
          [label]="'Passwort bestätigen'"
          [autocomplete]="'new-password'"
          [type]="'password'"
          [control]="form.get('passwordConfirm')"
        ></base-input>
        <base-checkbox [id]="'privacy'" [control]="form.get('privacy')">
          Hiermit bestätige ich, dass ich die <a routerLink="/datenschutz">Datenschutzerklärung</a> gelesen habe und
          akzeptiere.
        </base-checkbox>
        <div class="d-grid gap-2 text-center">
          <button class="btn btn-primary" (click)="submit()" *ngIf="!loading">Registrieren</button>
          <button class="btn btn-primary" type="button" disabled *ngIf="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
          <hr />
          <a routerLink="../login">Bereits ein Konto? Dann logge Dich hier ein!</a>
        </div>
      </form>
    </div>
  </div>
</div>
